@model EntityLayer.Concrete.OgretimElemani
@{
    ViewData["Title"] = "OgretimElemaniOzgecmis";
    Layout = "~/Views/Shared/OgretimElemaniLayout.cshtml";
}

@using (Html.BeginForm("OgretimElemaniProfil", "OgretimElemani", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Öğretim Elemanı Özgeçmiş</h4>
            <br />
            @Html.HiddenFor(x => x.OgretimElemaniID, new { @class = "form-control" })         
        <form class="forms-sample">
            <div class="form-group">
                <label for="exampleTextarea1">Kısa Özgeçmiş</label>
                 @Html.TextAreaFor(x => x.OgretimElemaniOzgecmis, new { @class = "form-control" })
            </div>

            <button href="/OgretimElemani/OgretimElemaniAnasayfa" type="submit" class="btn btn-gradient-primary btn-fw"><i class="mdi mdi-border-color"></i>    Güncelle</button>
            <a href="/OgretimElemani/OgretimElemaniAnasayfa" class="btn btn-gradient-primary btn-fw"><i class="mdi mdi-close"></i>    Vazgeç</a>
        </form>
        </div>
    </div>
</div>
}

