
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}

@*<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">


        </div>
    </div>
</div>*@

<img src="/AdminLogin/images/1b2fdeda1a14f190f4aa14c883d1e666.jpg" height="1000" width="1500" />