@model EntityLayer.Concrete.Ogrenci
@{
    ViewData["Title"] = "OgrenciHesapAyarlari";
    Layout = "~/Views/Shared/OgrenciLayout.cshtml";
}

@using (Html.BeginForm("OgrenciProfilListele", "Ogrenci", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Öğrenci Hesap Ayarları</h4>
                <br />
                @Html.HiddenFor(x => x.OgrenciID, new { @class = "form-control" })
            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    @Html.TextBoxFor(x => x.OgrenciMail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre</label>
                    @Html.PasswordFor(x => x.OgrenciSifre, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">Vazgeç</button>
            </form>
            </div>
        </div>
    </div>
}

