@model EntityLayer.Concrete.CalismaAlani

@{
    ViewData["Title"] = "CalismaAlaniGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h1>Çalışma Alanı Güncelleme Sayfası</h1>
<br />
@using (Html.BeginForm("CalismaAlaniGuncelle", "AdminCalismaAlani", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.CalismaAlaniID, new { @class = "form-control" })

        @Html.Label("Çalışma Alanı")
        @Html.TextBoxFor(x => x.CalismaAlaniTanim, new { @class = "form-control" })

        <br />

        <button type="submit" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>    Güncelle</button>
        <a href="/AdminCalismaAlani/Index" class="btn btn-primary"><i class="fas fa-close"></i>    Vazgeç</a>
    </div>
}